*.pyc
*.log
.searchlight-venv
.venv
.stestr/
.tox
.coverage*
cover/*
covhtml
nosetests.xml
coverage.xml
searchlight.sqlite
AUTHORS
ChangeLog
build
.DS_Store
dist
*.egg
searchlight.egg-info
tests.sqlite
searchlight/versioninfo
etc/searchlight.conf.sample
!/.coveragerc

#Files created by releasenotes build
releasenotes/build
# Swap files range from .saa to .swp
*.s[a-w][a-p]

# generated policy file
etc/searchlight/policy.yaml.sample

# Files created by doc build
doc/source/api
_static/

# IDE files
.project
.pydevproject
.idea
.e4p
.eric5project/
.issues/
.ropeproject
